<div class="card-container">
  <img [src]="product.images[0].url" [alt]="product.name" />
  <div>
    <h3>{{ product.name }}</h3>
    <span>Stock:{{ product.stock }}</span
    ><span>SKU:{{ product.sku }}</span>
    <label>
      <input type="checkbox" name="checkboxName" class="checkbox" />
      <div
        class="switch"
        (click)="switchFn()"
        [ngClass]="{ switchOn: switchClass }"
      ></div>
    </label>
  </div>
  <div>
    <p>
      <span>{{ product.discount / 100 | percent }}</span
      ><span>{{ product.price | currency: "USD":true:"2.0" }}</span>
    </p>
    <h3>{{ product.final_price | currency: "USD":true:"2.0" }}</h3>
  </div>
</div>
